/*---------ep-login begin-------------*/
#ep-login {
  background: url(../images/enterprise/enter-bg.png) no-repeat;
  background-size: cover;
}
#ep-login .login-bot-shadow {
  position: absolute;
  bottom: -27px;
  left: -41px;
  width: 454px;
  height: 63px;
  z-index: -1;
}
#ep-login .box-shadow {
  background: url(../images/enterprise/shadow.png) no-repeat scroll 0 0;
  width: 376px;
  height: 385px;
}
#ep-login .rl-r-box {
  float: right;
  height: 489px;
  width: 371px;
  padding-top: 11px;
  margin-right: 100px;
}
#ep-login .rl-r-tab-title {
  height: 48px;
  overflow: hidden;
  clear: both;
}
#ep-login .rl-r-tab-title li {
  width: 50%;
  float: left;
}
#ep-login .rl-r-tab-title li a {
  cursor: pointer;
  display: block;
  text-align: center;
  height: 48px;
  font: 18px/48px "Hiragino Sans GB", "Microsoft YaHei";
  color: #4c4c4c;
  background-color: #fff;
}
#ep-login .rl-r-tab-title li a:hover {
  text-decoration: none;
}
#ep-login .rl-r-tab-title li a small {
  font-size: 14px;
}
#ep-login .rl-r-tab-title li.current a {
  background: rgba(0, 0, 0, 0) url("/static/edu/images/page/white-bg.png") repeat scroll 0 0;
  color: #333;
  cursor: default;
  color: #2bbd2f\9;
}
#ep-login .rl-r-tab-title li.current a:hover {
  color: #333;
  text-decoration: none;
  color: #2bbd2f\9;
}
#ep-login .rl-r-tab-title li a:hover {
  color: #333;
}
#ep-login .rl-r-tab-cont {
  padding: 20px 50px;
  overflow: visible;
}
#ep-login .rl-r-tab-cont .login-title li a {
  color: #0ac5ef;
}
#ep-login .rl-r-tab-c-l {
  width: 100%;
}
#ep-login .rl-r-tab-c-r {
  width: 100%;
}
#ep-login .rl-r-t-c-r-box section {
  float: left;
}
#ep-login .rl-r-t-c-r-box {
  padding: 0 0 20px 0;
  min-height: 30px;
}
#ep-login .rl-r-t-c-r-box section a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#ep-login .rl-r-t-c-r-box section span {
  vertical-align: middle;
  font: 12px/30px "Hiragino Sans GB", "Microsoft YaHei";
  color: #333;
}
#ep-login .rl-r-t-c-r-box section a:hover {
  text-decoration: none;
}
#ep-login .rl-r-tab-c-l li {
  margin: 10px 0 0;
  width: 100%;
  position: relative;
  overflow: visible;
  clear: both;
}
#ep-login .rl-r-tab-c-l li label {
  border-bottom: 1px solid #ddd;
  display: block;
  height: 37px;
  position: relative;
}
#ep-login .rl-r-tab-c-l li label input {
  background: #fff;
  border: 1px solid #9ed7d1;
  height: 37px;
  font: 14px/37px 'Hiragino Sans GB', 'Microsoft YaHei';
  color: #333;
  width: 100%;
  text-indent: 8px;
}
#ep-login .rl-r-tab-c-l li label span {
  width: 100%;
}
#ep-login .rl-r-tab-c-l li img {
  position: absolute;
  left: 130px;
  top: 10px;
}
#ep-login .rl-jy-span {
  position: absolute;
  right: 0;
  top: 10px;
}
#ep-login .rl-login-btn a {
  background: #14cada;
  border-radius: 3px;
  display: block;
  height: 34px;
  font: 18px/34px 'Hiragino Sans GB', 'Microsoft YaHei';
  color: #fff;
}
#ep-login .rl-login-btn a:hover {
  background: #0ac1d1;
  text-decoration: none;
}
#ep-login .norl-login-btn a {
  background: #cccccc;
  border-radius: 3px;
  display: block;
  height: 34px;
  font: 18px/34px 'Hiragino Sans GB', 'Microsoft YaHei';
  color: #fff;
}
#ep-login .out_box {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "΢���ź�";
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  background: #fff;
  color: #555;
  text-indent: 6px;
  font-size: 14px;
  min-width: 140px;
}
/*---------/ep-login end-------------*/
