@charset "utf-8";
.zp-box {
  background-color: #f7f8f8;
}
.banner_3 {
  width: 100%;
  height: 397px;
  overflow: hidden;
  position: relative;
}
.banner_3 .banner_img {
  position: absolute;
  display: inline-block;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
}
.profession_1,
.profession_2,
.profession_3,
.profession_4,
.profession_5 {
  margin-top: 164px;
  margin-bottom: 10px;
  position: relative;
}
.profession_1 .profession_box,
.profession_2 .profession_box,
.profession_3 .profession_box,
.profession_4 .profession_box,
.profession_5 .profession_box {
  width: 978px ;
  height: 916px;
  border: 4px solid #e39e25;
  margin: 0 auto;
  background-color: #f7f8f8;
  z-index: 100;
}
.profession_1 .top_box,
.profession_2 .top_box,
.profession_3 .top_box,
.profession_4 .top_box,
.profession_5 .top_box {
  height: 550px;
  width: 100%;
  background: url(../images/banner/top_right_line.png) no-repeat scroll top right;
  background-color: #e39e25;
}
.profession_1 .top_box .top_content,
.profession_2 .top_box .top_content,
.profession_3 .top_box .top_content,
.profession_4 .top_box .top_content,
.profession_5 .top_box .top_content {
  padding: 60px;
  color: #fff;
}
.profession_1 .top_box .top_content li:first-child + li,
.profession_2 .top_box .top_content li:first-child + li,
.profession_3 .top_box .top_content li:first-child + li,
.profession_4 .top_box .top_content li:first-child + li,
.profession_5 .top_box .top_content li:first-child + li {
  margin-top: 78px;
}
.profession_1 .top_box .top_content li:first-child + li + li,
.profession_2 .top_box .top_content li:first-child + li + li,
.profession_3 .top_box .top_content li:first-child + li + li,
.profession_4 .top_box .top_content li:first-child + li + li,
.profession_5 .top_box .top_content li:first-child + li + li {
  margin-top: 60px;
}
.profession_1 .top_box .top_content li,
.profession_2 .top_box .top_content li,
.profession_3 .top_box .top_content li,
.profession_4 .top_box .top_content li,
.profession_5 .top_box .top_content li {
  font-size: 18px;
  color: #333;
}
.profession_1 .top_box .top_content li dl,
.profession_2 .top_box .top_content li dl,
.profession_3 .top_box .top_content li dl,
.profession_4 .top_box .top_content li dl,
.profession_5 .top_box .top_content li dl {
  display: inline-block;
  width: 124px;
  text-align: center;
  margin-right: 17px;
}
.profession_1 .top_box .top_content li dl:last-child,
.profession_2 .top_box .top_content li dl:last-child,
.profession_3 .top_box .top_content li dl:last-child,
.profession_4 .top_box .top_content li dl:last-child,
.profession_5 .top_box .top_content li dl:last-child {
  margin-right: 0;
}
.profession_1 .top_box .top_content dt img,
.profession_2 .top_box .top_content dt img,
.profession_3 .top_box .top_content dt img,
.profession_4 .top_box .top_content dt img,
.profession_5 .top_box .top_content dt img {
  border: 1px solid #dcdcdc;
}
.profession_1 .top_box .top_content dd,
.profession_2 .top_box .top_content dd,
.profession_3 .top_box .top_content dd,
.profession_4 .top_box .top_content dd,
.profession_5 .top_box .top_content dd {
  margin-top: 15px;
  width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profession_1 .top_box .top_content dd a,
.profession_2 .top_box .top_content dd a,
.profession_3 .top_box .top_content dd a,
.profession_4 .top_box .top_content dd a,
.profession_5 .top_box .top_content dd a {
  color: #333;
}
.profession_1 .top_box .top_content dd a:hover,
.profession_2 .top_box .top_content dd a:hover,
.profession_3 .top_box .top_content dd a:hover,
.profession_4 .top_box .top_content dd a:hover,
.profession_5 .top_box .top_content dd a:hover {
  color: #00aced;
}
.profession_1 .line_1,
.profession_2 .line_1,
.profession_3 .line_1,
.profession_4 .line_1,
.profession_5 .line_1,
.profession_1 .line_2,
.profession_2 .line_2,
.profession_3 .line_2,
.profession_4 .line_2,
.profession_5 .line_2 {
  display: inline-block;
  width: 53px;
  height: 45px;
  position: absolute;
  background: url(../images/banner/bom_left_line.png) no-repeat scroll;
}
.profession_1 .line_1,
.profession_2 .line_1,
.profession_3 .line_1,
.profession_4 .line_1,
.profession_5 .line_1 {
  bottom: -0.5px;
  left: -0.6px;
}
.profession_1 .line_2,
.profession_2 .line_2,
.profession_3 .line_2,
.profession_4 .line_2,
.profession_5 .line_2 {
  background: url(../images/banner/bom_rightline.png) no-repeat scroll;
  bottom: -0.5px;
  right: -0.6px;
}
.profession_1:before {
  content: '';
  display: block;
  position: absolute;
  left: -70px;
  top: -251px;
  width: 366px;
  height: 664px;
  background: url(../images/banner/left_1.png) no-repeat scroll;
}
.profession_1:after {
  content: '';
  display: block;
  position: absolute;
  right: -40px;
  bottom: -290px;
  width: 180px;
  height: 440px;
  background: url(../images/banner/right_1.png) no-repeat scroll;
}
.prossion_2 {
  margin-top: 145px;
}
.prossion_2 .top_box {
  background-color: #e39e25;
}
.profession_2:before {
  content: '';
  display: block;
  position: absolute;
  left: -27px;
  bottom: -370px;
  width: 144px;
  height: 550px;
  background: url(../images/banner/left_2.png) no-repeat scroll;
  z-index: 10;
}
.profession_3:after {
  content: '';
  display: block;
  position: absolute;
  right: -45px;
  bottom: -430px;
  width: 192px;
  height: 633px;
  background: url(../images/banner/right_2.png) no-repeat scroll;
}
.profession_4:before {
  content: '';
  display: block;
  position: absolute;
  left: -40px;
  bottom: -490px;
  width: 165px;
  height: 663px;
  background: url(../images/banner/left_3.png) no-repeat scroll;
}
.profession_5:after {
  content: '';
  display: block;
  position: absolute;
  right: 132px;
  bottom: -484px;
  width: 690px;
  height: 486px;
  background: url(../images/banner/right_3.png) no-repeat scroll;
}
.profession_3 .profession_box,
.profession_5 .profession_box {
  height: 652px;
}
.profession_3 .top_box,
.profession_5 .top_box {
  height: 600px;
  width: 930px;
  background-image: none;
}
.profession_3 .top_box .top_content,
.profession_5 .top_box .top_content {
  padding: 60px 0 60px 60px;
}
.profession_3 .top_box .top_content li:first-child + li,
.profession_5 .top_box .top_content li:first-child + li {
  margin-top: 35px;
}
.profession_3 .top_box .top_content li:first-child + li + li,
.profession_5 .top_box .top_content li:first-child + li + li {
  margin-top: 40px;
}
.profession_5 .profession_box {
  height: 925px;
}
.profession_5 .top_box {
  height: 865px;
}
.profession_5 .top_box .top_content li:first-child + li {
  margin-top: 75px;
}
.profession_5 .top_box .top_content li:first-child + li + li {
  margin-top: 60px;
}
/*讯方招聘*/
.xf-recruit {
  width: 100%;
  margin-top: -15px;
  background: url(../images/xf-schoolR/xf-bg.png) no-repeat scroll;
}
.xf-content {
  width: 1088px;
  margin: 0 auto;
  background-color: #fff;
}
.xf-content .xf-culture {
  height: 310px;
  background: url(../images/xf-schoolR/xf-logo.png) no-repeat;
  background-position: 100% 100%;
}
.xf-content .xf-culture-content {
  width: 744px;
  margin: 0 auto;
}
.xf-content .xf-culture-content .xf_intro p {
  margin-top: 10px;
  color: #003366;
}
.xf-intro .xf-title,
.xf-job .xf-title,
.xf-prech .xf-title,
.xf-zpProcess .xf-title,
.xf-welfare .xf-title {
  margin-top: -1px;
  width: 100%;
  height: 181px;
  background: url(../images/xf-schoolR/title-1.png) no-repeat;
}
.xf-intro .xf-intro-content,
.xf-job .xf-intro-content,
.xf-prech .xf-intro-content,
.xf-zpProcess .xf-intro-content,
.xf-welfare .xf-intro-content {
  width: 100%;
  height: 512px;
  background: url(../images/xf-schoolR/xf-contentBg.png) no-repeat;
  background-position: 0 100%;
}
.xf-intro .xf-intro-content dl,
.xf-job .xf-intro-content dl,
.xf-prech .xf-intro-content dl,
.xf-zpProcess .xf-intro-content dl,
.xf-welfare .xf-intro-content dl {
  width: 990px;
  margin: 0 auto;
}
.xf-intro .xf-intro-content dt,
.xf-job .xf-intro-content dt,
.xf-prech .xf-intro-content dt,
.xf-zpProcess .xf-intro-content dt,
.xf-welfare .xf-intro-content dt {
  margin-top: 68px;
  width: 554px;
  font-size: 16px ;
  color: #003366;
  float: left;
  line-height: 30px;
}
.xf-intro .xf-intro-content dd,
.xf-job .xf-intro-content dd,
.xf-prech .xf-intro-content dd,
.xf-zpProcess .xf-intro-content dd,
.xf-welfare .xf-intro-content dd {
  margin-top: 43px;
  width: 400px ;
  height: 270px;
  float: right;
  background: url(../images/xf-schoolR/xf-intro.png) no-repeat;
}
/*招聘岗位*/
.xf-job .xf-title {
  background: url(../images/xf-schoolR/title-2.png) no-repeat;
}
.xf-job .xf-intro-content {
  height: 620px;
}
.xf-job .xf-post-items {
  width: 911px;
  margin: 0 auto;
  padding-top: 35px;
  overflow: hidden;
}
.xf-job .xf-post-items .xf-post-item {
  width: 278px;
  height: 230px;
  margin-right: 35px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  float: left;
}
.xf-job .xf-post-content {
  margin: 24px 12px 0 12px;
  font-size: 20px;
  color: #333;
}
.xf-job .xf-post-content li:first-child {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
}
.xf-job .xf-post-content li:first-child p:first-child {
  padding-left: 20px;
  background: url(../images/xf-schoolR/xf-left.png) no-repeat 0 0;
}
.xf-job .xf-post-content li.xf-btn + li {
  margin-top: 20px;
  color: #666;
}
.xf-job .xf-post-content li.xf-btn {
  margin-top: 15px;
}
.xf-job .xf-post-content li.xf-btn a {
  display: block;
  margin-left: 50px;
  width: 155px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #fae791;
  color: #666666;
  border-radius: 3px;
}
.xf-job .xf-post-content li.xf-btn a:Hover {
  background-color: #fad532;
}
/*宣讲流程*/
.xf-prech {
  position: relative;
}
.xf-prech .xf-title {
  background: url(../images/xf-schoolR/title-3.png) no-repeat;
}
.xf-prech .xf-prech-content {
  width: 100%;
  height: 845px;
  background: url(../images/xf-schoolR/xf-prech.png) no-repeat 0 0;
}
.xf-prech .xf-coord {
  position: absolute;
  bottom: -220px;
  right: 0;
  display: block;
  width: 517px;
  height: 733px;
  background: url(../images/xf-schoolR/xf-coord.png) no-repeat 0 0;
}
/*招聘流程*/
.xf-zpProcess .xf-title {
  background: url(../images/xf-schoolR/title-4.png) no-repeat;
}
.xf-zpProcess .xf-zpProcess-content {
  width: 100%;
  height: 481px;
  background: url(../images/xf-schoolR/zpProcess.png) no-repeat 0 0;
}
.xf-welfare .xf-title {
  margin-top: -40px;
  background: url(../images/xf-schoolR/title-5.png) no-repeat;
}
.xf-welfare .xf-intro-content {
  height: 520px;
}
.xf-welfare .welfare-content {
  width: 960px;
  margin: 0 auto;
  padding-top: 90px;
}
.xf-welfare .welfare-content span {
  font-size: 18px;
  color: #003366;
  margin-bottom: 18px ;
  display: block;
}
/*底部*/
.xf-footer {
  width: 100%;
  height: 256px;
  background-color: #fae791;
}
.xf-footer .xf-infor {
  position: relative;
  width: 1088px;
  margin: 0 auto;
  color: #003366;
}
.xf-footer .xf-infor ul {
  padding: 40px 0 0 45px;
  font-size: 16px;
}
.xf-footer .footer-coord {
  position: absolute;
  top: -110px;
  right: -240px;
  width: 733px;
  height: 366px;
  background: url(../images/xf-schoolR/footer-crood.png) no-repeat;
}
