@charset "utf-8";
/*共用样式*/
html,
body,
div,
p,
ul,
li,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: 'Microsoft YaHei';
}
input,
button,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
.ml2 {
  margin-left: 2em;
}
.mt15 {
  margin-top: 15px;
}
.mt40 {
  margin-top: 40px;
}
.mt30 {
  margin-top: 30px;
}
.dn {
  display: none;
}
.of {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.remind_text {
  font-size: 14px;
  color: #ff6600 ;
}
.remind_text:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 16px ;
  height: 16px;
  background: url(form_image/remind_icon.png) no-repeat;
  vertical-align: top;
}
.remind_mark {
  color: #fd6538;
  margin-left: -12px;
}
.common_title {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #383838;
}
.common_title span {
  margin-left: 20px;
  font-size: 14px ;
  color: #a5a5a5;
}
/*输入框*/
.form-control {
  display: block;
  width: 506px;
  height: 22px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #fa8563;
}
/*单选框*/
.ml90 {
  margin-left: 90px;
}
.radio_title {
  max-width: 100%;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
}
.radio_title span {
  color: #fd6538;
  margin-right: 5px;
}
input[type='radio'].radio {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
input[type='radio'].radio + .radio {
  display: inline-block;
  margin-left: 2px;
  padding-left: 28px;
  height: 16px;
  background: url(form_image/no_radio.png) no-repeat;
  font-size: 14px ;
  color: #a5a5a5;
}
input[type='radio'].radio:checked + .radio {
  background: url(form_image/radio.png) no-repeat;
  height: 16px;
  color: #fa8562;
}
/*出生年月*/
.birth_box {
  display: inline-block;
  position: relative;
}
.birth_box .text {
  position: relative;
  margin-right: 15px;
  padding: 0 10px;
  width: 234px;
  height: 35px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  font: 14px/35px "microsoft yahei";
  color: #a5a5a5;
  background: #fff none repeat scroll 0 0;
  z-index: 100;
  border-radius: 3px;
}
.birth_box .year,
.birth_box .month {
  background-position: 0 0;
  color: #b0b0b0;
  display: inline-block;
  height: 5px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 8px;
}
.dis-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f1f3e9;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 34px;
  width: 252px;
  z-index: 1;
}
.dis-box ul {
  padding: 10px;
}
.dis-box ul li {
  color: #00a2e0;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  margin-right: 2px;
  text-align: center;
  width: 56px;
}
.dis-box ul li.current {
  background: #00a2e0 none repeat scroll 0 0;
  color: #fff;
}
/*城市下拉框*/
.form_wrap {
  background-color: #fff;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  position: relative;
  width: 254px;
}
.form_wrap .mr_button {
  width: 200px;
  height: 35px;
  background-color: #fff;
  padding-left: 10px;
  border: 0;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: #a5a5a5;
}
.form_wrap .xl_list {
  position: absolute;
  top: 37px;
  left: -1px;
  width: 254px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 4px #efefe4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 999;
}
.form_wrap .xl_list ul {
  height: 200px;
  overflow-y: auto;
}
.form_wrap .xl_list li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 14px ;
  color: #a5a5a5;
}
.form_wrap .xl_list li:hover {
  background-color: #f4f4f4;
}
.form_wrap .mr_sj {
  position: absolute;
  right: 18px;
  top: 15px;
  height: 0;
  width: 0;
  font-size: 0;
  border: 6px solid #fff;
  display: block;
  border-color: #d3d3d3 transparent transparent;
}
/*兴趣爱好*/
.mr50 {
  margin-right: 50px;
}
.mb30 {
  margin-bottom: 30px;
}
.checkBox_box {
  width: 528px;
}
.checkBox_box label {
  display: inline-block;
}
input[type='checkbox'].checkbox {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
input[type='checkbox'].checkbox + .checkbox {
  display: inline-block;
  margin-left: 2px;
  padding-left: 25px;
  height: 16px;
  background: url(form_image/no_checkbox.png) no-repeat;
  font-size: 14px ;
  color: #383838;
}
input[type='checkbox'].checkbox:checked + .checkbox {
  background: url(form_image/checkbox.png) no-repeat;
  height: 16px;
  color: #fa8562;
}
/*图片上传*/
.pr {
  position: relative;
}
.file_box dt,
.file_box dd {
  display: inline-block;
  vertical-align: top;
}
.file_box input[type='file'] {
  position: relative;
  width: 148px;
  height: 70px;
  opacity: 0;
  z-index: 1;
}
.file_box .file_icon {
  position: absolute;
  top: 50px;
  left: 56px;
  display: block;
  width: 37px;
  height: 33px;
  background: url(form_image/file_img.png) no-repeat;
  z-index: 0;
}
.file_box .file_img {
  width: 150px;
  height: 105px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.file_box .file_title {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px solid #dcdcdc ;
  background-color: #f5f5f5;
  font-size: 14px ;
  color: #a5a5a5;
}
.file_box .file_text {
  margin-top: 10px;
  font-size: 14px;
  color: #a5a5a5;
}
/*作品上传*/
.pr {
  position: relative;
}
.file_works dt,
.file_works dd {
  display: inline-block;
  vertical-align: top;
}
.file_works input[type='file'] {
  position: relative;
  width: 148px;
  height: 35px;
  opacity: 0;
  z-index: 1;
}
.file_works .file_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 150px;
  height: 36px;
  background: url(form_image/works_file.png) no-repeat;
  z-index: 0;
}
.file_works .file_img {
  width: 150px;
  height: 35px;
  margin-left: 15px;
}
.file_works .file_text {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 14px;
  color: #a5a5a5;
}
.form_textarea {
  width: 520px;
  padding: 5px;
  height: 128px ;
  border: 1px solid #dcdcdc;
}
/*报名表*/
.mt60 {
  margin-top: 60px;
}
.mt50 {
  margin-top: 50px;
}
.form_bg {
  background: #f0f0f0 none repeat scroll 0 0;
  min-width: 320px;
  width: 100%;
}
.w700 {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.entry_form {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  margin-top: 50px;
}
.entry_form .menu {
  font-size: 14px;
  padding: 15px 20px;
}
.menu_title {
  height: 43px;
  padding: 0 20px;
  border: 1px solid #f3f3f3;
}
.menu_title a:first-child {
  color: #fa8562;
  border-bottom: 1px solid #fa8562;
}
.menu_title a {
  margin-top: 15px;
  font-size: 12px ;
  color: #666666;
  text-decoration: none;
}
.entry_form_lists {
  margin: 25px 0 0 75px;
}
.entry_form_lists .prompt {
  display: table;
  margin: 0 auto;
  font-size: 12px;
  color: #666666;
}
.entry_form_lists .prompt span {
  color: #fa8562;
}
.form-btns {
  margin-left: 100px;
}
.form-btns a {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0 70px;
  background-color: #00aced;
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  border-radius: 5px;
}
.form-btns .submit_btn:hover {
  background-color: #fd5d2e;
}
.form-btns .disable_btn {
  background-color: #c7d3e0;
}
.share_btns {
  margin-left: 124px;
}
.share_btns a {
  display: inline-block;
  margin-right: 45px;
  width: 61px;
  height: 61px;
  background: url(form_image/weibo_icon.png) no-repeat;
}
.share_btns .qq_icon {
  background: url(form_image/qq_icon.png) no-repeat;
}
.share_btns .weixin_icon {
  background: url(form_image/weixin_icon.png) no-repeat;
}
.form_footer {
  border-top: 1px solid #f3f3f3;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
